 <!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-6 page-heading text-left">
                    <h3>Who we are</h3>
                    <h2>About Our Company</h2>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <ul class="breadcrumbs">
                        <li><a href="index.html">home</a></li>
                        <li><a href="#">about our Company</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= About Section =-=-=-=-=-=-= -->

<section class="padding-top-70" id="about">
    <div class="container">
        <div class="row clearfix">
            <!--Column-->
            <div class="col-md-7 col-sm-12 col-xs-12 ">
                <div class="about-title">
                    <h2>We Provide Best Services All Over</h2>
                    <p>Pooni Transport Inc. offers many transportation services and is always committed to safety, service, and innovation. We operate Flatbed Trucking, Refrigerated Trucking and Dry Freight Trucking, equipped with the latest technologies including satellite tracking, On top of our commitment to safety and service as a trucking company, as a transportation service company, we focus highly on providing the best service possible. </p>


                    <p>At Pooni Transport Inc. we strive to be recognized as a superior service provider in the transport and logistic industry, and a valued member of the community. We offer third-party-logistics to ensure your transportation with us is seamless and smooth. We help you manage your supply chain from warehousing to distribution so that the whole process is efficient and effective.</p>
                    <p>We accomplish our objectives by valuing our employees, customers, and vendors while building successful relationships. We respect our competition while providing our customers unsurpassed service with integrity. We commit our resources, capabilities, and our capacities toward our goals and know that Truck Service Inc. will remain a profitable trucking company. </p>

                </div>

            </div>

            <!-- RIght Grid Form -->
            <div class="col-md-5 col-sm-12 col-xs-12 our-gallery">
                <a class="tt-lightbox" href="~/images/about-company-1.png"> <img class="img-responsive margin-bottom-30" alt="Image" src="~/images/about-company-1.png"></a>
            </div>
        </div>
    </div>
</section>

<!-- =-=-=-=-=-=-= About End =-=-=-=-=-=-= -->