<!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-6 page-heading text-left">
                    <h3>any question</h3>
                    <h2>Contact  Us</h2>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <ul class="breadcrumbs">
                        <li><a href="~/Home/Index">home</a></li>
                        <li><a href="#">contact us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Contact Us =-=-=-=-=-=-= -->
<section id="contact-us" class="section-padding-70">
    <div class="container">
        <!-- Row -->
        <div class="row">
            <div class="col-md-12  ">

                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="location-item text-center">

                        <h4 class="text-uppercase">Call us 24/7</h4>
                        <p> +1(905) 915-7881</p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="location-item text-center">

                        <h4 class="text-uppercase">Fax us 24/7</h4>
                        <p> +1(905) 364-0808 </p>
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 col-xs-12">
                    <div class="location-item text-center">

                        <h4 class="text-uppercase">Mail us</h4>
                        <p> info@poonitransport.com</p>
                    </div>
                </div>


                <div class="notice success" id="success"><p>Thanks so much for your message. We check e-mail frequently and will try our best to respond to your inquiry.</p></div>
 
                <form id="contactForm" method="post" action="#">
                    <div class="col-sm-6">
                        <!-- Name -->
                        <div class="form-group">
                            <label>Name<span class="required">*</span></label>
                            <input type="text" placeholder="Name" id="name" name="UserName" class="form-control" required>
                        </div>
                    </div> <!-- End col-sm-6 -->

                    <div class="col-sm-6">
                        <!-- Email -->
                        <div class="form-group">
                            <label for="email">Phone No<span class="required">*</span></label>
                            <input type="text" placeholder="Phone No" id="phone" name="PhoneNo" class="form-control"  required>
                        </div>
                    </div> <!-- End col-sm-6 -->


                    <div class="col-sm-12">
                        <!-- Email -->
                        <div class="form-group">
                            <label>E-Mail<span class="required">*</span></label>
                            <input type="email" placeholder="Email" id="email" name="EMailId" class="form-control" required>
                        </div>
                    </div> <!-- End col-sm-12 -->


                    <div class="col-sm-12">
                        <!-- Comment -->
                        <div class="form-group">
                            <label>Message<span class="required">*</span></label>
                            <textarea placeholder="Message..." id="message" name="Message" class="form-control" rows="6" required></textarea>
                        </div>
                    </div> <!-- End col-sm-12 -->

                    <div class="col-sm-12 text-center">
                        <button type="submit" id="yes" class="btn btn-primary">Send Message</button>
                        <img id="loader" alt="" src="~/images/loader.gif" class="loader">
                    </div> <!-- End col-sm-6 -->

                </form>

            </div>



            <div class="clearfix"></div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Contact Us End =-=-=-=-=-=-= -->

 <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $('#contactForm').submit(function () {
            var serializedForm = $('#contactForm').serialize();
            $.ajax({
                url: '@Url.Action("/Contact")',
                type: "POST",
                data: serializedForm,
                success: function (result) {
                    $('#contactForm')[0].reset();
                    alert(result);
                },
                error: function (result) {
                    alert("Failed");
                }

            });
            return false;
        });
    });

</script>