<!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-7 page-heading text-left">
                    <h3>Our Services </h3>
                    <h2>Dry Freight Trucking</h2>
                </div>
                <div class="col-sm-12 col-md-5 text-right">
                    <ul class="breadcrumbs">
                        <li><a href="~/Home/Index">home</a></li>
                        <li><a href="#">Dry Freight Trucking</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Our Services =-=-=-=-=-=-= -->
<section class="section-padding-70 services-2">
    <div class="container">
        <!-- Row -->
        <div class="row">

            <div class="col-md-9 col-sm-12 col-md-push-3 col-xs-12">

                <div id="post-slider" class="owl-carousel owl-theme margin-bottom-30">
                    <div class="item">
                        <a class="tt-lightbox" href="~/images/services/service-detail-2.jpg"><img class="img-responsive" src="~/images/services/service-detail-2.jpg" alt=""></a>
                    </div>

                </div>

                <p>At Pooni Transport Inc, we have a team who will advise and recommend precisely which type of truck and / or trailer equipment that is best for your particular shipment. Trailer specifications and configurations are standard in the industry with vans measuring either 48’ L x 96”/102” W or 53‘ L x 102” W. </p>
                <ul class="margin-top-30 margin-bottom-30 clearfix">
                    <li class="col-sm-6">
                        <a class="tt-lightbox" href="~/images/about-company-1.png"><img alt="" src="~/images/about-company-1.png" class="img-responsive"> </a>
                    </li>
                    <li class="col-sm-6">
                        <a class="tt-lightbox" href="~/images/about-company-2.png"><img alt="" src="~/images/about-company-2.png" class="img-responsive"> </a>
                    </li>
                </ul>
                <p>It is important to know the interior dimensions of a trailer to ensure that your shipment will fit properly. The following dry van illustrations will help you understand a few of the fundamentals. </p>

                <p>We can handle your dry freight shipments either on a Full Truckload (FTL) or Less-Than-Truckload (LTL) basis. Businesses with dry freight to ship will often unknowingly contact truckload carriers and pay a Truckload price even though their particular shipment in question may not fill up an entire trailer. With LTL pricing your partial truckload shipment can be priced well below Truckload pricing by sharing the cost with other partial shipments. </p>
            </div>

            <!-- right column -->
            <div class="col-md-3 col-md-pull-9 col-sm-12 col-xs-12" id="side-bar">
                <div class="theiaStickySidebar">
                    <div class="side-bar-services">
                        <ul class="side-bar-list ">
                            <li><a href="~/Home/FlatbedServices">Flatbed Trucks</a></li>
                            <li><a href="~/Home/RefrigeratedServices">Refrigerated Vans</a></li>
                            <li ><a href="~/Home/DryServices" class="active">Dry Vans</a></li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Our Services-end =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Call To Action =-=-=-=-=-=-= -->
<div class="parallex-small ">
    <div class="container">
        <div class="row custom-padding-20 ">
            <div class="col-md-12 col-sm-12">
                <div class="parallex-text">
                    <h4>Call us for more information about our trucking services or request a quote</h4>
                </div>
                <!-- end subsection-text -->
            </div>
            <!-- end col-md-8 -->




        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- =-=-=-=-=-=-= Call To Action End =-=-=-=-=-=-= -->
