<!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-6 page-heading text-left">
                    <h3>Our Services </h3>
                    <h2>Flatbed Trucks</h2>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <ul class="breadcrumbs">
                        <li><a href="~/Home/Index">home</a></li>
                        <li><a href="#">Flatbed Trucks</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Our Services =-=-=-=-=-=-= -->
<section class="section-padding-70 services-2">
    <div class="container">
        <!-- Row -->
        <div class="row">

            <div class="col-md-9 col-sm-12 col-md-push-3 col-xs-12">

                <div id="post-slider" class="owl-carousel owl-theme margin-bottom-30">
                    <div class="item">
                        <a class="tt-lightbox" href="~/images/services/service-detail-1.jpg"><img class="img-responsive" src="~/images/services/service-detail-1.jpg" alt=""></a>
                    </div>

                </div>

                <p>Flatbed Trucking serves the needs of customers transporting special equipment or material that create loads which are wide, over length, over-sized, overweight, or any combination thereof but can still legally move on the road. A Flatbed Trucking service is ideal for construction sites or shipping points that have no available dock or require quick loading and unloading for projects on the move with time sensitive schedules. </p>
                <ul class="margin-top-30 margin-bottom-30 clearfix">
                    <li class="col-sm-6">
                        <a class="tt-lightbox" href="~/images/about-company-1.png"><img alt="" src="~/images/about-company-1.png" class="img-responsive"> </a>
                    </li>
                    <li class="col-sm-6">
                        <a class="tt-lightbox" href="~/images/about-company-2.png"><img alt="" src="~/images/about-company-2.png" class="img-responsive"> </a>
                    </li>
                </ul>

                <p>At Pooni Transports Inc. we specialize in Flatbed Trucking and make sure that your shipment has the right sized tarps and the proper tie downs for the job so that it will be protected and ready for use atClick Here for a Flatbed Trucking Quote! its destination. With Flatbed Trucking there is a variety of trailer types that are designed to fit the many needs required by different shipments either based on size or how they need to be loaded. In addition, we can supply team service for any of your shipments that need to deliver as soon as possible for projects with minimal slack available in their schedule. </p>
                <p>We supplies Flatbed Trucking service through out the Canada and Continental United States on both a Less-than-Truckload (LTL) and Full Truckload (FTL) basis. </p>

                <h2 class="detail_hding"> Flatbed Trucking Details </h2>

                <p>
                    Flatbed shipping is the preferred way to transport loads that are not easily transported in an enclosed dry van. Some examples of typical flatbed freight include large equipment, building materials and large machinery. Flatbeds allow for greater dimensional flexibility, which makes them the optimal and safest choice for these types of loads.

                    Flatbed Trailers are used in several ways and can accommodate almost any load. The advantage to a flatbed trailer is that it may be loaded from the sides, from the top or from behind. Flatbed trailers are the most versatile trailer when it comes to transporting your equipment or cargo.
                </p>
            </div>
            <!-- right column -->
            <div class="col-md-3 col-md-pull-9 col-sm-12 col-xs-12" id="side-bar">
                <div class="theiaStickySidebar">
                    <div class="side-bar-services">
                        <ul class="side-bar-list ">
                            <li ><a href="~/Home/FlatbedServices" class="active">Flatbed Trucks</a></li>
                            <li ><a href="~/Home/RefrigeratedServices">Refrigerated Vans</a></li>
                            <li ><a href="~/Home/DryServices">Dry Vans</a></li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Our Services-end =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Call To Action =-=-=-=-=-=-= -->
<div class="parallex-small ">
    <div class="container">
        <div class="row custom-padding-20 ">
            <div class="col-md-12 col-sm-12">
                <div class="parallex-text">
                    <h4>Call us for more information about our trucking services or request a quote</h4>
                </div>
                <!-- end subsection-text -->
            </div>
            <!-- end col-md-8 -->




        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- =-=-=-=-=-=-= Call To Action End =-=-=-=-=-=-= -->