<!-- =-=-=-=-=-=-= PAGE BREADCRUMB =-=-=-=-=-=-= -->
<section class="breadcrumbs-area parallex">
    <div class="container">
        <div class="row">
            <div class="page-title">
                <div class="col-sm-12 col-md-7 page-heading text-left">
                    <h3>Our Services </h3>
                    <h2>Refrigerated Trucking</h2>
                </div>
                <div class="col-sm-12 col-md-5 text-right">
                    <ul class="breadcrumbs">
                        <li><a href="~/Home/Index">home</a></li>
                        <li><a href="#">Refrigerated Trucking</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- =-=-=-=-=-=-= PAGE BREADCRUMB END =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Our Services =-=-=-=-=-=-= -->
<section class="section-padding-70 services-2">
    <div class="container">
        <!-- Row -->
        <div class="row">

            <div class="col-md-9 col-sm-12 col-md-push-3 col-xs-12">

                <div id="post-slider" class="owl-carousel owl-theme margin-bottom-30">
                    <div class="item">
                        <a class="tt-lightbox" href="~/images/services/service-detail-3.jpg"><img class="img-responsive" src="~/images/services/service-detail-3.jpg" alt=""></a>
                    </div>

                </div>
                <h2 class="detail_hding"> Don't Trust Your Truckload and LTL Refrigerated Trucking Shipments to Just Anyone </h2>
                <p>At Pooni Transport Inc, we understand there's no margin for error when using Refrigerated Trucking in shipping your commodities – whether they are frozen, chilled or simply temperature controlled. We supply state-of-the-art Refrigerated Trucking trailers with experts in the field to provide you with the most reliable Refrigerated Trucking services available today. So whether you're shipping a Less-than-Truckload (LTL) or a Full Truckload (FTL), go with people who know Refrigerated Trucking – Pooni Transport Inc. </p>
                <ul class="margin-top-30 margin-bottom-30 clearfix">
                    <li class="col-sm-6">
                        <a class="tt-lightbox" href="~/images/about-company-1.png"><img alt="" src="~/images/about-company-1.png" class="img-responsive"> </a>
                    </li>
                    <li class="col-sm-6">
                        <a class="tt-lightbox" href="~/images/about-company-2.png"><img alt="" src="~/images/about-company-2.png" class="img-responsive"> </a>
                    </li>
                </ul>

                <p>The 53-foot trailers that we use provide maximum cube and bulkhead capability, so we can handle those mixed temperature shipments. Moreover, the air-ride suspension system cushions the ride so that your product arrives in the same condition it was when loaded. We can transport your goods at temperatures ranging from -20 to +90 degrees Fahrenheit, and hold them at the temperature you specify, and we do this anywhere in the Canada and Continental United States. </p>
                <p>A refrigerated van (also known as a "reefer") is an insulated food grade trailer with a sophisticated refrigeration system built onto the trailer. The refrigerated trailer is designed to transport perishable foods or other commodities that require temperature controlled transport. </p>

                <p>Some systems have alarm codes that notify the truck driver of a problem that is going to happen or is happening. Once notified, the driver is able to correct the issue, plus taking actions such as employing a high speed temperature pull down that can quickly lower the trailer's temperature.</p>
                <p>There are also tracking systems that log the time and temperature for the whole duration of the trip, therefore an audit of the temperature is possible.</p>



            </div>
            <!-- right column -->
            <div class="col-md-3 col-md-pull-9 col-sm-12 col-xs-12" id="side-bar">
                <div class="theiaStickySidebar">
                    <div class="side-bar-services">
                        <ul class="side-bar-list ">
                            <li><a href="~/Home/FlatbedServices">Flatbed Trucks</a></li>
                            <li ><a href="~/Home/RefrigeratedServices"  class="active">Refrigerated Vans</a></li>
                            <li><a href="~/Home/DryServices">Dry Vans</a></li>


                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Row End -->
    </div>
    <!-- end container -->
</section>
<!-- =-=-=-=-=-=-= Our Services-end =-=-=-=-=-=-= -->
<!-- =-=-=-=-=-=-= Call To Action =-=-=-=-=-=-= -->
<div class="parallex-small ">
    <div class="container">
        <div class="row custom-padding-20 ">
            <div class="col-md-12 col-sm-12">
                <div class="parallex-text">
                    <h4>Call us for more information about our trucking services or request a quote</h4>
                </div>
                <!-- end subsection-text -->
            </div>
            <!-- end col-md-8 -->




        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- =-=-=-=-=-=-= Call To Action End =-=-=-=-=-=-= -->